<section class="section-add">
   <section class="section-add_container">
      <form action="/add" method="POST">
         <input placeholder="НАЗВАНИЕ" type="text" class="input-add_1" name="title">
               <input placeholder="ЦЕНА" type="text" class="input-add_1" name="price">
               <input placeholder="URL КАРТИНКИ" type="text" class="input-add_1" name="img">
         <input type="submit" value="Отправить" class="input-add_2">
      </form>
   </section>
</section>