@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


#btn{display: none;}
body{background-color: rgb(252, 252, 252);}
*{padding: 0;margin: 0;}
a{text-decoration: none;}
li{list-style: none;}
header{max-width: 100%;background-color: rgb(235, 123, 123);min-height: 50px;}
header>nav>ul{display:flex;align-items:center;justify-content: flex-end;}
header>nav>ul>li{padding:20px;transition: .5s;}
header>nav>ul>li:hover{background-color:rgb(207, 96, 96);}
header>nav>ul>li>a{color: rgb(255, 255, 255);font-family: 'Open Sans', sans-serif;font-size: 16px;padding: 20px;}
.active{background-color:rgb(207, 96, 96);}

label>p{color: white;font-family: 'Open Sans', sans-serif;padding: 10px;background-color: rgb(216, 34, 10);transition: .5s;border-radius: 5px;margin: 50px 0px;text-align: center;width: 140px;}
label>p:hover{background-color: rgb(129, 0, 0);}


.section-add{max-width: 100%;height: 900px;display: grid;grid-template: repeat(3,1fr)/repeat(1,1fr);justify-items: center;align-items: center;}
.section-add_container{width: 95%;max-width: 800px;margin-top: 50px;}
.input-add_1{width: 100%;outline: none;border: none;border-bottom: 2px solid rgb(107, 107, 107);padding: 20px;margin-top: 20px;}
.input-add_1::placeholder{text-align: left;padding-bottom: 5px;font-size: 18px;font-family: 'Open Sans', sans-serif;}
.input-add_1:focus::placeholder{opacity: 0;transition:  0.3s ease;}


.input-add_2{padding: 10px;border: none;background: rgb(44, 155, 0);color: white;font-family: 'Open Sans', sans-serif;font-size: 14px;border-radius: 5px;margin-top:40px;}
.input-add_2:hover{border: none;background-color:rgb(37, 129, 0);}


.course-price{margin: 0 auto;padding: 20px;box-shadow: 7px 7px 7px 2px rgba(10, 17, 22, 0.39);background-color: rgb(247, 247, 247);max-width: 800px;}
.course-price_p1{width: 100%;text-align: center;margin:  20px 0px 50px 0px;font-size: 36px;font-family: 'Oswald', sans-serif;}
.course-price_p2{margin: 20px 0px 20px 0px;}
.courses{width: 100%;text-align: center;margin: 40px 0px 40px 0px;font-family: 'Oswald', sans-serif;font-size: 36px;}
.href-courses{color: black;}
.courses-course{width: 100%;min-height: 1000px;}
.courses-course>.course-info>h1{width: 100%;text-align: center;padding-top: 50px;font-family: 'Open Sans', sans-serif;padding-bottom: 30px;}
.courses-course>.course-info>p{text-align: center;padding-top: 50px;font-family: 'Open Sans', sans-serif;}
.img-wrapper{max-width: 400px;margin: 0 auto;}
.img-wrapper>p{max-width: 100%;text-align: center;font-family: 'Oswald', sans-serif;margin-top: 50px;}
img{width: 100%;}
.course-info{max-width: 900px;margin: 0 auto;display: flex;justify-content:flex-start;align-items: center;flex-direction: column;padding: 30px;box-shadow: 7px 7px 7px 2px rgba(10, 17, 22, 0.39);min-height: 100%;background-color: rgb(247, 247, 247);margin-top: 30px;}
.href{width: 100%;display: flex;justify-content: space-between;border-bottom: solid 2px rgb(83, 83, 83);align-items: center;}
.href>a{font-family: 'Open Sans', sans-serif;color: rgb(255, 255, 255);padding: 10px;background-color: rgb(44, 155, 0);transition: .5s;border-radius: 5px;margin: 50px 0px;text-align: center;width: 140px;}
.href>a:hover{background-color: rgb(37, 129, 0);}

.home{min-height: 1000px;}
.allCourse>a{display: flex;justify-content: center;}
.allCourse>a>div>h1{text-align: center;max-width: 100%;margin-top: 30px;color: #000;margin-bottom: 40px;}
.allCourse>a>div{max-width: 800px;margin: 30px;padding: 30px;box-shadow: 7px 7px 7px 2px rgba(10, 17, 22, 0.39);border-radius: 5px;}
.allCourse>a>div>div{margin: 30px;}
.allCourse>p{max-width: 100%;text-align: center;font-family: 'Open Sans', sans-serif;font-size: 36px;margin-top: 30px;}

.info{min-height: 1000px;}
.course{min-height: 1000px;}
.redact{max-width: 100%;text-align: start;margin: 20px;font-family: 'Open Sans', sans-serif;}


footer{min-height: 200px;border-top: solid rgb(207, 96, 96);background: rgb(207, 96, 96);margin-top: 30px;}
footer>section>p>{text-align: left;font-family: 'Open Sans', sans-serif;}