@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{padding: 0;margin: 0;}
a{text-decoration: none;}
li{list-style: none;}
header{max-width: 100%;background-color: rgb(235, 123, 123);min-height: 50px;}
header>nav>ul{display:flex;align-items:center;justify-content: flex-end;}
header>nav>ul>li{padding:30px;transition: .5s;}
header>nav>ul>li:hover{background-color:rgb(207, 96, 96);}
header>nav>ul>li>a{text-align: center;color: rgb(255, 255, 255);font-family: 'Open Sans', sans-serif;font-size: 16px;}